h1 {
    color: bisque;
    background-color: indianred;
    border-style: groove;
    border-color:  rgba(85, 18, 18, 0.845);
    font-size: 200px;
}

body {
    background-color: bisque;
    
}

p {
    color: rgba(85, 18, 18, 0.845);
    font-size: 40px;
      
    }

ul {
    color: indianred;
    font-size: 40px;
}

.float-container {
    border: 3px  rgba(85, 18, 18, 0.845);
    border-style: double;
    padding: 30px;

}

.float-child {
    width: 50%;
    float: right;
    padding: 30px;
    border: 2px  rgba(85, 18, 18, 0.845);
    
}  

.day {
    font-size: 60px;
    color: cornsilk;
    background-color: rgba(85, 18, 18, 0.845);
}

.may {
    font-size: 60px;
    color: cornsilk;
    background-color: rgba(85, 18, 18, 0.845);

}

H2 {
    font-size: 60px;
    background-color: cornsilk;
    color: rgba(85, 18, 18, 0.845);

}